.control-labelz-2 {
    color: #666;
}

.form-horizontal .form-group {
     margin-right: 0px; 
     margin-left: 0px; 
}

/*.form-control {
    color: #ac96a0;
}*/

.edit-btn { 
    float: left;
    background-color: #f06e4b;
    padding: 7px;
    min-width: 80px;
    margin-right: 10px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
}