/assets/
/protected/user/runtime/
/protected/admin/runtime/
/protected/admin/runtime/application.log
/protected/user/runtime/application.log
/nbproject/private/
/uploads/products/1000/14/zoom.jpg